*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack:black;
$mainGreen:Green;
$mainWhite:white;
$mainGrey:grey; 

body{
    background: $mainWhite;
    color: $mainBlack;
    font-family: 'Open Sans', sans-serif;
}